.question_background{
    width: 70%;
    background-color: var(--lightest-color);
    border-radius: 1em;
    padding: 2em;
    
}

.section_list{
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    gap: 1em;
    margin-bottom: 1em;
}

#selectOption{
    opacity: 0.8;
    padding: 0.5em;
    font-size: 0.8em;
    width: 80%;
    border-radius: 0.3em;
    border: none;
    background-color: var(--bg-color);
}

.categorie{
    color: var( --faded-color);
}

/* Section 3 */

.select_section_three{
    display: flex;
    border: solid 1px black;
    padding: 1em;
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}



