.state_background{
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.survey_state_texte_background{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.survey_total_line{
    height: 0.2em;
    background-color: var(--faded-color);
}

.survey_line_background{
    position: relative;
}

.survey_position_line{
    position: absolute;
    top: 0;
    height: 0.2em;
    background-color: var(--highlight-color);
    width: 20%;
}