.history_background {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.history_background h1 {
  font-weight: 600;
  font-size: 1.7em;
}

.history_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--lightest-color);
  border-radius: 1.5em;
  padding: 4em;
  gap: 1em;
  margin: 4em 0;
}

.history_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.history_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.history_table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.history_header,
.history_line {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1.5em;
}

.history_header {
  background-color: var(--highlight-color);
  color: var(--lightest-color);
  font-weight: 600;
  letter-spacing: 0.15em;
}

.history_line:nth-child(odd) {
  background-color: var(--bg-color);
}

.history_brand {
  width: 15%;
}

.history_model {
  width: 20%;
}

.history_storage,
.history_gsm {
  width: 15%;
  text-align: center;
}

.history_ram,
.history_screen,
.history_rank,
.history_price {
  width: 10%;
  text-align: center;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0 0 0;
}