.home-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.estimation-container,
.add-container {
    height: 100%;
    width: 50%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.add-container {background-color: var(--dark-color);}

.estimation-img-container {
    height: 30em; 
    width: 37em;
    z-index: 11;
}
.ajouter-img-container { 
    height: 30em; 
    width: 32em;
    z-index: 10;
}
.estimation-img-container>img,
.ajouter-img-container>img {
    height: 100%;
    width: 100%;
}

.estimation-container>button,
.add-container>button {
    width: 75%;
    padding: 0.8em;
    margin: 0.5em 0 3em 0;
    border: none;
    border-radius: 24px;
    background-color: var(--highlight-color);
    color: var(--bg-color);
}

.estimation-container>p,
.add-container>p {
    width: 75%;
    text-align: center;
}

.add-container>p { color: var(--bg-color);}