.list_background {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.list_background h1 {
  font-weight: 600;
  font-size: 1.7em;
}

.list_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--lightest-color);
  border-radius: 1.5em;
  padding: 4em;
  margin: 4em 0;
  gap: 1em;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.top a {
  background-color: var(--dark-color);
  color: var(--lightest-color);
  height: fit-content;
  letter-spacing: 0.15em;
  padding: 0.7em 1.5em;
  border-radius: 1.5em;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.line {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1em;
}

.header {
  background-color: var(--highlight-color);
  color: var(--lightest-color);
  font-weight: 600;
  letter-spacing: 0.15em;
}

.line:nth-child(odd) {
  background-color: var(--bg-color);
}

.brand {
  width: 15%;
}

.model {
  width: 25%;
}

.storage {
  width: 20%;
  text-align: center;
}
.gsm,
.ram {
  width: 10%;
  text-align: center;
}

.screen {
  width: 20%;
  text-align: center;
}
