/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg-color: #F7F7FF;
  --lightest-color: #fff;
  --darkest-color: #000;
  --dark-color: #272251;
  --highlight-color: #E65A70;
  --faded-color: #D6D6ED;
  --main-font: 'Urbanist', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  padding-top: 5.5em;
  border-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lightest-color);
  font-family: var(--main-font);
  color: var(--dark-color);
  font-size: 16px;
}
body::-webkit-scrollbar{display: none;} /* TO REMOVE SCROLLBAR */
#root {
  width: 100%;
  height: 100%;
}

button {cursor: pointer;}
a { text-decoration:  none;}